*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo{
    height: 40px;
}

.player-wrapper{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}

.player-wrapper select, .player-wrapper button{
    width: 150px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: lightcoral;
}

.game{
    width: 750px;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

footer{
    height: 5vh;
}

#credits{
    margin-left: 20%;
}